.event-container {
  width: 85%;
  height: auto;
  min-height: 180px;
  border-radius: 15px;
  background: #2c2a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.event-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  width: 30px;
  height: 30px;
  color: white;
}