html,
body {
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
}

.home-header {
  width: 100%;
  height: 160px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #2c2a4a;
}

.home-seat-seeker {
  color: rgb(230, 57, 70);
  width: auto;
  height: 180px;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 60px;
}

.home-container01 {
  flex: 0 0 auto;
  width: 119px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container02 {
  flex: 0 0 auto;
  width: 283px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container03 {
  flex: 0 0 auto;
  width: 119px;
  height: 40px;
  display: flex;
  align-items: flex-start;
}

.home-container04 {
  flex: 0 0 auto;
  width: 316px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-container05 {
  flex: 0 0 auto;
  width: 1px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9d6ea;
}

.home-compare-ticket {
  color: rgb(201, 214, 234);
  height: 100%;
  font-size: 28px;
  align-self: flex-start;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  padding-top: var(--dl-space-space-unit);
  padding-left: 10px;
  padding-bottom: var(--dl-space-space-unit);
}

.home-container06 {
  flex: 0 0 auto;
  width: 119px;
  height: 40px;
  display: flex;
  align-items: flex-start;
}

.home-container07 {
  position: absolute;
  top: 70px;
  right: 30px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;

  flex-direction: column;

  justify-content: flex-end;
}

.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 38px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.home-sign-in-button {
  position: absolute;
  /* Position the button relative to the viewport */
  top: 20px;
  /* Adjust the distance from the top of the viewport */
  right: 20px;
  /* Adjust the distance from the right of the viewport */
  color: #c9d6ea;
  width: 145px;
  height: 40px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-self: auto;
  font-style: normal;
  font-weight: 300;
  border: 0px;
  /* Use shorthand for border */
  background-color: transparent;
}

.home-container11 {
  flex: 0 0 auto;
  width: 28px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-horizontal-bar {
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #e63946;
}

.home-container12 {
  width: auto;
  height: 27px;
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.home-to-save {
  color: rgb(201, 214, 234);
  align-self: left;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 200;
  font-size: medium;
}

.home-container13 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-left: 0px;
  padding-bottom: 50px;
  justify-content: center;
  background-color: #4f518c;
}

.home-container14 {
  flex: 0 0 auto;
  width: 614px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 3px;
  flex-direction: column;
  justify-content: flex-start;
}

.home-container15 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 0px;
  justify-content: flex-start;
}

.home-container16 {
  flex: 0 0 auto;
  width: 14px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-find-tickets {
  color: rgb(201, 214, 234);
  height: 51px;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 200;
}

.home-container17 {
  width: 583px;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
}

.home-keyword-input {
  width: 477px;
  height: 50px;
  align-self: center;
  border-width: 0px;
  background-color: #c9d6ea;
}

.home-container18 {
  width: 23px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-button {
  color: #c9d6ea;
  width: 111px;
  height: 47px;
  font-size: 20px;
  border-width: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
  background-color: #e63946;
}

.home-sign-in {
  color: #c9d6ea;
  width: var(--dl-size-size-large);
  height: 40px;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  border-width: 0px;
  border-radius: 10px;
  background-color: #e63946;
}

.home-saved {
  color: #2c2a4a;
  width: var(--dl-size-size-large);
  height: 40px;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  border-width: 0px;
  border-radius: 10px;
  background-color: #c9d6ea;
}

.home-container19 {
  bottom: 0;
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2c2a4a;
}

.home-container20 {
  width: 100%;
  height: 124px;
  display: flex;
  align-items: center;
  padding-top: 29px;
  justify-content: flex-start;
}

.looking {
  color: #e63946;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-self: center;
  text-align: center;
  font-weight: 200;
}

.home-container21 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-textinput {
  border-width: 0px;
  background-color: #c9d6ea;
}

.home-container22 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-textinput1 {
  border-width: 0px;
  background-color: #c9d6ea;
}

.home-container23 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-textinput2 {
  border-width: 0px;
  background-color: #c9d6ea;
}

.home-button1 {
  color: rgb(201, 214, 234);
  width: 111px;
  height: 47px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  border-width: 0px;
  background-color: rgb(79, 81, 140);
}

.home-button1 {
  color: rgb(201, 214, 234);
  width: 111px;
  height: 47px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  border-width: 0px;
  background-color: rgb(79, 81, 140);
}

.save-button {
  background-color: transparent;
  border-width: 0;
  z-index: 9999;
}
