.results-container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #4f518c;
  position: relative;
}

.event-title-container {
  width: auto;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  margin-left: 60px;
  left: 0;
}

.event-title {
  color: #f2f2f2;
  width: auto;
  height: 150px;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.loading {
  color: #2c2a4a;
  width: auto;
  height: 150px;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.results-box {
  justify-content: center;
  align-items: center;
  width: auto;
  text-align: center;
  padding-left: 4em;
}